<h1>Welcome To LibSys</h1>
<% Rails.application.config.directory_page = nil%>
<%= link_to 'I am a member', login_member_path %>
<%= link_to 'I am an admin', login_admin_path %>
<%= link_to 'Sign up now', new_member_path %>