<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome to Libsys, <%= @user.name %></h1>
    <p>
    You have successfully subscribed to the book <%= @book.title %> !
    </p>
    <p>
    You will receive an email notification when the book becomes available 
    </p>
    <p>
    Have a great Day!
    <br><br>LibSys  
    </p>
  </body>
</html>
