<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome to Libsys, <%= @user.name %></h1>
    <p>
      Thanks for registering.
    </p>
    <p>
    View the list of books at <%= link_to 'LibSys', root_url %>
    </p>
    <p>
    Have a great Day!
    <br><br>LibSys  
    </p>
  </body>
</html>
